# Rules in this file were initially inferred by Visual Studio IntelliCode from the Z:\GitHub\Krypton-Suite\Standard-Toolkit-Demos\Source\Palette Designer codebase based on best match to current usage at 2021-07-25
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


#Core editorconfig formatting - indentation

#use soft tabs (spaces) for indentation
indent_style = space

#Formatting - organize using options

#sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first = true

#warning CA1416: This call site is reachable on all platforms. '###.###' is only supported on: 'Windows' 7.0 and later.
dotnet_diagnostic.CA1416.severity = None
